<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<input type="hidden" id="classId" value="$request.getParameter('classId')">
<input type="hidden" id="gradeId" value="$request.getParameter('gradeId')">
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("photofrontuser:list"))
			<a class="btn btn-primary" @click="forFrontUserList"><i class="fa fa-pencil-square-o"></i>&nbsp;成绩查询</a>
			#end
			<a class="btn btn-primary" @click="querysmartranking"><i class="fa fa-plus"></i>&nbsp;成绩排名</a>
			<a class="btn btn-primary"  href="javascript:history.go(-1)">返回上一级</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="photoExamination.name" placeholder=""/>
			    </div>
			</div>
			<input type="hidden" v-model="photoExamination.id">
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/school/photoexamination.js?_${date.systemTime}"></script>
</body>
</html>