@font-face {
	font-family: 'icon';
    src: url('../img/font/iconfont.eot'); /* IE9*/
    src: url('../img/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../img/font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../img/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../img/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
/*顶部*/
.header{
	width: 100%;
	background: url(../img/bg.png) no-repeat center;
	background-size: cover;
	height: 5.7067rem;
}
.header-img{
	padding-top: 1.0933rem;
	margin-left:0.8267rem;
	width: 3.8933rem;
	height:4.2rem;
	float: left;
}
.header-img img{
	display: block;
	width: 3.8933rem;
	height:4.2rem;
}
.header-con{
	color: white;
	padding-top: 1.84rem;
	width: 4.8667rem;
	float: left;
	text-align: center;
}
.header-con h3{
	font-size: 0.5067rem;
	line-height: 0.8rem;
}
.header-con p{
	font-size: 0.36rem;
	text-align: left;
}
/*音乐*/
.music{
	height: 0.75rem;
	width: 100%;
}
.music audio{
	height: 100%;
	display: block;
	width: 100%;
}
/*内容*/
.content{
	min-height: 5.6rem;
	height: 5.6rem;
    height:auto !important; 
    width: 100%;
}
.person h3{
	height: 0.88rem;
}
.person h3 img{
	display: block;
	height: 0.88rem;
	width: 4rem;
}
.person_img{
	width: 100%;
	height: 2.9733rem;
}
.m-r-2p{
	margin-right: 2%;
}
.person_img img{
	display: block;
	float: left;	
	height: 100%;
	width: 32%;
}
.m-right{
	font-family: 'icon';
}
.person_bot{
	height: 0.72rem;
	border-bottom: 1px solid black;
	text-align: right;
}
.person a{
	font-size: 0.3467rem;
	font-weight: 900;
	line-height: 0.72rem;
}
/*基本信息*/
.basic{
	border-bottom: 1px solid black;
}
.basic h3{
	height: 0.88rem;
}
.basic h3 img{
	display: block;
	height: 0.88rem;
	width: 4rem;
}
.basic p{
	text-indent:0.88rem;
	font-size: 0.3733rem;
}
/*人际关系*/
.interpersonal{
	border-bottom: 1px solid black;
	position: relative;
}
.interpersonal h3{
	height: 0.88rem;
}
.interpersonal h3 img{
	display: block;
	height: 0.88rem;
	width: 4.5733rem;
}
.hh{
	display: flex;
}
.hhs{
	display: flex;
}
.hh div{
	flex: 1;
	text-align: center;
	position: relative;
}
.hh img{
	cursor: pointer;
}
.hhs img{
	cursor: pointer;
}
.hhs div{
	flex: 1;
	text-align: center;
	position: relative;
}
.aa{
	width: 100%;
	display: block;
	height: 2.2rem;
}
.img1{
	position: absolute;
	top:50%;
	margin-top: -1.1rem;
}
.img2{
	position: absolute;
	margin-top: -1.1rem;
}
.img3{
	position: absolute;
	margin-top: 0.15rem;
}
.btn{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 0.08rem 0.16rem;
    margin-bottom: 0;
    margin-top: 0.14rem;
    margin-right: 0.3rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.zhezao{
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	background: gray;
	width: 100%;
	z-index: 90;
	opacity: 0.5;
	display: none;
}
#relation{
	position: fixed;
	top:5%;
	left: 5%;
	height: 90%;
	background: white;
	overflow-y: scroll;
	display: none;
	width: 90%;
	z-index: 99;
}
/*生平经历*/
.experience{

}
.experience h3{
	height: 0.88rem;
}
.experience h3 img{
	display: block;
	height: 0.88rem;
	width: 5.37rem;
}

/*悬浮*/
.right{
	position: fixed;
	bottom: 5%;
	right: 0.234375rem;
}
.mine{
	display: block;
	width: 1.35rem;
	height: 1.35rem;
	background: url(../img/login.png) no-repeat center;
	background-size: cover;
}
.video{
	width: 1.41rem;
	height: 1.41rem;
	background: url(../img/video.png) no-repeat center;
	background-size: cover;
}
.top{
	width: 1.35rem;
	height: 1.35rem;
	background: url(../img/top.png) no-repeat center;
	background-size: cover;
}
/*mine*/
body,html{
	width: 100%;
	height:100%;
}
#mine{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
section{
	flex:1;
}
.icon{
	font-family: 'icon';
	font-size:0.45rem;
	float: right;
}
.mine_banner{
	background: url(../img/center_bg.jpg) no-repeat center;
	background-size: cover;
	height: 4.2rem;
}
.mine_banner dl{
	width: 2.56rem;
	height: 3.28rem;
	margin: 0 auto;
	padding-top: 0.46rem;
	color: white;
	text-align: center;
	font-size: 0.35rem;
	line-height: 1.0rem;
}
.mine_banner dt{
	display: block;
	width: 2.56rem;
	border-radius: 100%;
	height: 2.56rem;
}
.mine_banner dt img{
	display: block;
	width: 100%;
	height: 100%;
}
#mine_con li{
	margin-top: 0.1rem;
	background: #ffffff;
	height: 1.28rem;
	width: 94%;
	border-top:1px solid #c9c9c9;
	border-bottom:1px solid #c9c9c9;
	line-height: 1.28rem;
	padding:0 3%;
}
#mine_con li a{
	height: 100%;
	display: block;
	flex: 1;
}
#mine_con li a img{
	display: block;
	width: 0.9rem;
	height: 0.7rem;
	float: left;
	margin-top: 0.24rem;
}
#mine_con li a p{
	font-size: 0.4rem;
	margin-left: 0.32rem;
	float: left;
}
/*login*/
#login{
	width: 7.5rem;
	height: 6.38rem;
	position: fixed;
	top:50%;
	left: 50%;
	margin-top:-3.19rem;
	margin-left: -3.75rem;
}
.side{
	margin-top: 0.5rem;
	display: block;
	border-radius: 0.8rem;
	border: 1px solid #cdd4da;
	height:1.56rem;
	line-height: 1.56rem;
	padding-left: 0.8rem;
	font-size: 0.48rem;
	color: white;
}
.side input{
	outline: none;
	border:none;
	background: none;
	width: 4.2rem;
	color: white;
	font-size: 0.48rem;
}
.login{
	margin-top: 0.5rem;
	background: #022c3c;
	height:1.56rem;
	border-radius: 0.8rem;
	border: none;
	opacity: 0.8;
	width: 7.5rem;
	text-align: center;
	line-height: 1.56rem;
}
#btn{
	position: absolute;
	background:none;
	font-size: 0.5rem;
	color: white;
	height:1.56rem;
	display: block;
	border-radius: 0.8rem;
	border: none;
	width: 7.5rem;
	text-align: center;
	line-height: 1.56rem;
}
