<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<input type="hidden" id="schoolId" value="${request.getParameter('id')}">
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("photocollege:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("photocollege:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("photocollege:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">学院名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="photoCollege.name" placeholder="学院名"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">学校id</div>
			   	<div class="col-sm-10">
			      <input type="hidden" id="mySchoolId" class="form-control" name="photoCollege.schoolId" value="${request.getParameter('id')}" placeholder="学校id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">描述信息</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="photoCollege.info" placeholder="描述信息"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">logo</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="photoCollege.logo" placeholder="logo"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">背景音乐</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="photoCollege.music" placeholder="背景音乐"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">视频</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="photoCollege.vedio" placeholder="视频"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="photoCollege.gmtCreate" placeholder=""/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label"></div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="photoCollege.gmtModified" placeholder=""/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/generator/photocollege.js?_${date.systemTime}"></script>
</body>
</html>