<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<input type="hidden" id="gradeId" value="${request.getParameter('gradeId')}">
<input type="hidden" id="myClassId" value="${request.getParameter('classId')}">
<input type="hidden" id="examinationId" value="${request.getParameter('examinationId')}">
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("smartranking:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("smartranking:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("smartranking:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
			<a class="btn btn-primary"  href="javascript:history.go(-1)">返回上一级</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">学生名字</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="smartRanking.name" placeholder="学生名字"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">用户id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="smartRanking.userId" placeholder="用户id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">总分</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="smartRanking.fractionTotal" placeholder="总分"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">考试科目总数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="smartRanking.subjectTotal" placeholder="考试科目总数"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">平均分</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="smartRanking.fractionAverage" placeholder="平均分"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">年级排名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="smartRanking.gradeRanking" placeholder="年级排名"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">班级排名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="smartRanking.classRanking" placeholder="班级排名"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/uniform/smartranking.js?_${date.systemTime}"></script>
</body>
</html>