<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("sysweixin:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("sysweixin:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("sysweixin:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
			#if($shiro.hasPermission("sysweixinmenu:list"))
			<a class="btn btn-primary" @click="addMenu"><i class="fa fa-plus"></i>&nbsp;添加菜单</a>
			#end
			#if($shiro.hasPermission("sysweixinmsg:list"))
			<a class="btn btn-primary" @click="addMsg"><i class="fa fa-plus"></i>&nbsp;自动回复管理</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysWeixin.name" placeholder="名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">微信原始id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysWeixin.origiid" placeholder="原始id"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">微信appId</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysWeixin.appid" placeholder="appid"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">微信appSecret</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="sysWeixin.appsecret" placeholder="appsecret"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/smart/sysweixin/sysweixin.js?_${date.systemTime}"></script>
</body>
</html>